@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600';


/*Abre Estilos Generales*/

* {
    box-sizing: border-box;
    box-sizing: -webkit-border-box;
    box-sizing: -moz-border-box;
    box-sizing: -ms-border-box;
    box-sizing: -o-border-box;
    margin: 0;
    padding: 0;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header, section, article, aside, div, nav, footer, hgroup, figure, menu, main, summary, figcaption, img {
    display: block;
}


h1, h2, h3 {
    color: #2f2d2e;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    transition: all .4s ease;
    color: #999999;
}

p {
    font-size: 1em;
    color: #999999;
}

img {
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

section, article, div, aside, nav, figure, img, hgroup, footer, header, summary, span {
    display: block;
}

/*Abre Header*/


header {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    position: fixed;
    z-index: 1000 !important;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all .4s ease-in-out;
    
}

header .logotipo {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: flex-start;
    align-items: center;
    flex: auto;
}

header .logotipo img {
    width: 76px;
    height: 60px;
    margin-right: .8em;
    transition: all .4s ease-in-out;
}

header .logotipo p {
    text-align: left;
    font-size: 1.8em;
    font-weight: 500;
    color: white;
    transition: all .4s ease-in-out;
}

header .logotipo p span {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.51);
    display: inline-block;
}

header nav {
    position: relative;
    
}

header nav li {
    float: left;
    list-style: none;
}

header nav li a {
    line-height: 80px;
    padding: 0 1.5em;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
    transition: all .4s ease-in-out;
    display: block;
}

header nav li a:hover {
    box-shadow: 0 -5px 0 0 #e82247 inset;
}

.menu-fixed {
    background-color: #2f2d2e;
}

.menu-fixed nav li a {
    line-height: 65px;
}

.menu-fixed nav li a:hover {
    box-shadow: 0 -5px 0 0 #e82247 inset;
    color: white;
}

.menu-fixed .logotipo img {
    width: 50px;
    height: 50px;
    margin-right: 1em;
}

.menu-fixed .logotipo p {
    font-size: 1.3em;
}

/*Abre Cover*/

.cover {
    width: 100%;
    background-image: url(../img/cover.jpg);
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
}

/* Abre buscador */

.buscador {
    width: 950px;
    height: 70px;
    background-color: #f5f5f5;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -35px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}

.buscador input[type="search"] {
    width: 80%;
    height: 70px;
    margin: 0;
    background-color: #2f2d2e;
    border: none;
    font-size: 1.4em;
    padding-left: 1em;
    color: white;
}

.buscador input[type="submit"] {
    width: 20%;
    height: 70px;
    -webkit-appearance: button;
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    cursor: pointer;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    background-color: #e82247;
    color: white;
    margin: 0;
    transition: all .4s ease;
}

.buscador input[type="submit"]:hover {
    background-color: #d31f41;
}

.buscador input[class="lupa"] {
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: center center;
}

*::-webkit-input-placeholder {
    color: #777777;
}

*::-moz-input-placeholder {
    color: #777777;
}

*::-ms-input-placeholder {
    color: #777777;
}



/* Abre Servicios */

.block {
    background-color: white;
    width: 100%;
    max-width: 950px;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    align-items: center;
    
}

.block .item-1 {
    width: 25%;
    margin-left: 1em;
}

.block .item-1:first-child {
    margin-left: none;
}






